AuthType	basic
AuthName	"Please log in with your HdM account"
AuthUserFile	/home/steven/projects/poll/users
Require	valid-user

RewriteEngine	on
RewriteBase		/poll/

RewriteCond		%{REQUEST_FILENAME}	!-f
RewriteRule		^([^/-]+)$	index.php?id=$1	[last,qsappend,B]

RewriteCond		%{REQUEST_FILENAME}	!-f
RewriteRule		^([^/-]+)-ready$	ready.php?id=$1	[last,qsappend,B]